@import './variables.scss';
body{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background-color: #6C7786;
  color: lightblue;
}
#Calculator{
  background-color: #990;
  margin: 20px;
}
/* center buttons content */
.CenterContent{
  justify-content: center;
  align-items: center;
  line-height: 100%;
  padding: 16px;
  border: 1px solid #253446;
}  
#Display{
  background-color: $display-bg-color;
}
  #Operations{
    text-align: right;
    font-size: 50%;
  }
  #Result{
    text-align: right;
  }

.Operation{
  background-color: $operation-bg-color;
}
.Number{
  background-color: $number-bg-color;
}

.Operation:hover, .Number:hover{
  background-color: lightblue;
  color: white;
}
.Operation:active, .Number:active{
  color: black;
}

#clear:hover{
  background-color: $clear-bg-color-hover;
  color: $clear-color-hover;
}
#clear:active{
  color: black;
}

@media (min-width: 480px) {
  :root {
    font-size: calc(1.875rem + ((1vw - 4.8px) * 1.1111));
  }
}
@media (min-width: 1920px) {
  :root {
    font-size: 46px;
  }
}